@charset "utf-8";
/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
  }

/* 編集を加える、クラスが被らないように注意 */
.header_contents {
	padding: 3px;
	background: #eae6dc;
  }
  
.tab_container {
	padding-top: 0px;
	display:inline;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
.tab_container ol {
	display:flex;
	list-style: none;
}
.tab_container li {
	width: 100%;
	height: 50px;
	margin-left:0px;
	margin-right:0px;
	font-size: 14px;
	background-color: antiquewhite;
	border-radius: 0px;
	position: relative;
}
.tab_container li :hover {
	opacity: 0.4;
	background-color: darkgray;
	cursor : pointer;
}
.tab_container a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: black;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
}

/* mymain */
.maintop_container {
	height: 500px;
	width: 100%;
	font-size: 80%;
	text-align: center;
	overflow: hidden;
	/* background: linear-gradient(270deg,#cad6ec,#56ccf2); */
	background-image:url("./images/top.jpg");
	background-size: cover;
}

.maintop_container  a {
	color: black;
	/* color: azure; */
}
.libserch_title {
	/* color: aliceblue; */
	color: black;
	font-size: 25px;
	letter-spacing: 3px;
	text-shadow:0 0 30px rgba(0,0,0,.2);
	text-align: center;
	margin: 12% 0 0 0%;
}
.libserch_sub_title {
	/* color: aliceblue; */
	color: black;
	font-size: small;
	letter-spacing: 3px;
	text-shadow:0 0 30px rgba(0,0,0,.2);
	text-align: center;
	margin: 2% 0 0 0%;
}

/* search card */
.searchcard_container {
    font-size: 80%;
    text-align: center;
    background: whitesmoke;
    /* background: linear-gradient(270deg,#2f80ed,#56ccf2); */
    overflow: hidden;
    width: 100%;
    height: 140px;
}
.search_by_area {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.search_by_category {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.searchcard_container a {
    text-decoration: none;
    background: cornflowerblue;
    color: azure;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    margin:auto 5px 0;
    padding: 1px 2px 1px 2px;
}


/* displayLibController */
.display_inner {
	margin: auto;
  }
  
.display_inner p {
	font-size: 2em;
	text-align: center;
}

.display_inner table {
	width: 100%;
	border-collapse: collapse;
}

.display_inner table tr{
	border-bottom: solid 2px white;
}

.display_inner table tr:last-child{
	border-bottom: none;
}

.display_inner table th{
	position: relative;
	text-align: left;
	width: 30%;
	background-color: #52c2d0;
	color: white;
	text-align: center;
	padding: 10px 0;
}

.display_inner table td{
	text-align: left;
	text-align: center;
	background-color: #eee;
	padding: 10px 0;
}